<div *ngIf="reviews.length == 0">
    User has no reviews.
</div>

<div class="row mx-auto table-responsive" *ngIf="reviews.length != 0">
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Rating</th>
                <th scope="col" class="col-8">Review</th>
                <th scope="col">Date added</th>
            </tr>
            <tr *ngFor="let review of reviewsToDisplay">
                <td style="width: 60px">
                    <a routerLink="/books/{{ review.bookId }}">
                        <img src="{{ startingUrl }}/{{ review.title.split(' ').join('_') }}.jpg" onerror="this.src='../../assets/books/Default.jpg'" class="card-img-top book-cover">
                    </a>
                </td>
                <td>
                    <a routerLink="/books/{{ review.bookId }}" class="fw-bold">
                        {{ review.title }}
                    </a>
                </td>
                <td>{{ review.author }}</td>
                <td>{{ review.rating }}</td>
                <td>
                    {{ review.review }}
                    <!-- {{ review.review.slice(0, 300) }}
                    <span class="review-content" *ngIf="readMore">{{ review.review.slice(300) }}</span>
                    <a class="review-content read-more ms-1" (click)="onClickReadMore()" *ngIf="!readMore && review.review.length > 300">...read more</a>
                    <a class="review-content read-more ms-1" (click)="onClickReadMore()" *ngIf="readMore && review.review.length > 300">(read less)</a> -->
                </td>
                <td>{{ review.dateCreated.split('T')[0] }}</td>
            </tr>
        </tbody>
    </table>
</div>
