<div class="row mx-auto">
    <div class="col-md-2 col-sm-4" *ngFor="let review of reviews">
        <a routerLink="/">
            <div class="card my-3 d-flex align-items-stretch" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <img src="../../assets/books/The_Lightning_Thief.jpg" class="card-img-top" alt="">
                <div class="card-header">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Author</p>
                </div>
                <div class="card-body">
                    <p class="card-text">Rating</p>
                    <p class="card-text">{{ review.review }}</p>
                </div>
            </div>
        </a>
    </div>
</div>