<h3 class="mb-4">My Reviews</h3>

<div class="row mx-auto">
    <div class="col-md-6" *ngFor="let review of reviews">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/books/Default.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title serif fw-bold">Title</h5>
                        <p class="card-text serif">by Author</p>
                        <p class="card-text">Rating: {{ review.rating }}</p>
                        <p class="card-text"><small class="text-muted">{{ review.dateCreated.split('T')[0] }}</small></p>
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Show review
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                {{ review.review }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
