<div class="card mb-3 px-2 py-2" *ngIf="topic">
    <div class="card-body">
        <p class="card-text">
            <small class="text-muted">
                Posted by <span class="fw-bold">{{ topic.userName }}</span> <span class="mx-2">·</span> {{ convertDate(topic.dateCreated) }}
            </small>
        </p>
        <a routerLink="/forums/{{ topic.id }}">
            <h5 class="card-title fw-bold serif">{{ topic.title }}</h5>
        </a>
        <p class="card-text">{{ topic.content }}</p>
        <p class="card-text">
            <a (click)="onSelect()" title="View/hide replies">
                <small class="text-muted">
                    <span class="material-icons me-2">comment</span>
                    <span *ngIf="topic.replyCtr == 0">No replies</span>
                    <span *ngIf="topic.replyCtr != 0">{{ topic.replyCtr }} <span *ngIf="topic.replyCtr == 1">reply</span><span *ngIf="topic.replyCtr > 1">replies</span></span>
                </small>
            </a>
        </p>
    </div>
</div>

<!-- <app-reply-detail *ngIf="viewReplies"></app-reply-detail> -->
<app-reply-detail></app-reply-detail>