<div class="mb-3">
    <a routerLink="/forums" class="text-muted">
        <span class="material-icons me-1">arrow_back</span>
        <small>Back to forums</small>
    </a>
</div>

<div *ngIf="!displayNotFound">
    <div class="card mb-3 px-2" *ngIf="topic">
        <div class="card-body">
            <p class="card-text">
                <small class="text-muted">
                    Posted by <span class="fw-bold"><a routerLink="/users/{{ topic.userId }}">{{ topic.userName }}</a></span> <span class="mx-2">·</span> {{ convertDate(topic.dateCreated) }}

                </small>
                <span class="float-end" *ngIf="userId == posterId">
                    <a class="edit-delete-btn text-muted" (click)="onClickEdit()" data-bs-toggle="modal" data-bs-target="#addTopicModal">Edit</a>
                    <span class="mx-2 text-muted">|</span>
                    <a class="edit-delete-btn text-muted" (click)="onDeleteTopic()">Delete</a>
                </span>
            </p>
            <h5 class="card-title fw-bold serif d-inline me-2 mb-2">{{ topic.title }}</h5>
            <span
                class="d-inline-block flair mb-2"
                [class.discussion]="topic.flair == 'Discussion'"
                [class.recommendations]="topic.flair == 'Recommendations'"
                [class.others]="topic.flair == 'Others'">
                {{ topic.flair }}
            </span>
            <p class="card-text">
                {{ topic.content.slice(0, 300) }}
                <span *ngIf="readMore">{{ topic.content.slice(300) }}</span>
                <a class="read-more ms-1" (click)="onClickReadMore()" *ngIf="!readMore && topic.content.length > 300">...read more</a>
                <a class="read-more ms-1" (click)="onClickReadMore()" *ngIf="readMore && topic.content.length > 300">(read less)</a>
            </p>
            <p class="card-text">
                <a (click)="onClickViewReplies()" title="View/hide replies">
                    <small class="text-muted">
                        <span class="material-icons me-2">comment</span>
                        <span *ngIf="replyCtr == 0">No replies</span>
                        <span *ngIf="replyCtr != 0">{{ replyCtr }} <span *ngIf="replyCtr == 1">reply</span><span *ngIf="replyCtr > 1">replies</span></span>
                    </small>
                </a>
            </p>
        </div>
    </div>

    <!-- <app-reply-detail *ngIf="viewReplies"></app-reply-detail> -->
    <!-- <app-reply-detail (increaseReplyCtr)="increaseReplyCtr()"></app-reply-detail> -->
    <app-replies (increaseReplyCtr)="increaseReplyCtr()" (decreaseReplyCtr)="decreaseReplyCtr()"></app-replies>
</div>

<app-not-found-resource *ngIf="displayNotFound" [resource]="'Forum post'"></app-not-found-resource>

<div class="modal fade" id="addTopicModal" tabindex="-1" aria-labelledby="addTopicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit topic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancelEdit()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="topicForm">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <div class="fw-bold">{{ oldTitle }}</div>
                    </div>

                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" id="content" rows="5" formControlName="content"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="flair" class="form-label d-block">Flair</label>
                        <select class="dropdown px-2 py-2" name="dropdown" formControlName="flair" (change)="changeFlair($event)">
                            <option class="flair-option" *ngFor="let flair of flairs">{{ flair }}</option>
                         </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancelEdit()">Close</button>
                <button type="submit" class="btn btn-dark" [disabled]="!topicForm.valid" (click)="onEditTopic()" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>