<div class="row" *ngIf="books.length == 0">
    <div>
        No results found.
    </div>
</div>

<!-- <div class="row mx-auto" *ngIf="books.length != 0">
    <div class="col-sm-2" *ngFor="let book of books.slice(0, 6)">
        <a routerLink="/books/{{ book.id }}">
            <div class="card my-3">
                    <img src="../../assets/books/{{ book.title.split(' ').join('_') }}.jpg" class="card-img-top book-cover" alt="{{ book.title }}">
            </div>
        </a>
    </div>
</div> -->

<!-- <div class="row mx-auto" *ngIf="books.length != 0">
    <div class="card my-3" *ngFor="let book of books.slice(0, 6)">
        <a routerLink="/books/{{ book.id }}">
            <img src="../../assets/books/{{ book.title.split(' ').join('_') }}.jpg" class="card-img-top book-cover" alt="{{ book.title }}">
        </a>
    </div>
</div> -->

<div class="row mx-auto" *ngIf="books.length != 0">
    <div class="col-md-2 col-sm-6 d-inline my-2" *ngFor="let book of books.slice(0, 6)">
        <a routerLink="/books/{{ book.id }}">
            <img src="../../assets/books/{{ book.title.split(' ').join('_') }}.jpg" class="card-img-top book-cover" alt="{{ book.title }}">
        </a>
    </div>
</div>
