<div *ngIf="review" class="col user-info-review">
    <div class="row mb-4">
        <div class="col-lg-1 col-sm-2">
            <img src="../../assets/default_user.png" alt="user_profile_pic">
        </div>
        <div class="col">
            <div class="user-description d-inline me-1">
                <span class="fw-bold">
                    <a routerLink="/users/{{ review.userId }}">{{ review.userName }}</a>
                </span> rated it
            </div>
            <span class="material-icons star-rate" [class.checked]="review.rating >= 1">star_rate</span>
            <span class="material-icons star-rate" [class.checked]="review.rating >= 2">star_rate</span>
            <span class="material-icons star-rate" [class.checked]="review.rating >= 3">star_rate</span>
            <span class="material-icons star-rate" [class.checked]="review.rating >= 4">star_rate</span>
            <span class="material-icons star-rate" [class.checked]="review.rating == 5">star_rate</span>

            <div class="row">
                <div class="text-muted">
                    {{ convertDate(review.dateCreated) }}
                </div>
            </div>

            <div class="row mb-2">
                <div class="review-text serif mt-2">
                    {{ review.review.slice(0, 575) }}
                    <span class="review-text serif" *ngIf="readMore">{{ review.review.slice(575) }}</span>
                    <a class="review-text serif read-more ms-1" (click)="onClickReadMore()" *ngIf="!readMore && review.review.length > 575">...read more</a>
                    <a class="review-text serif read-more ms-1" (click)="onClickReadMore()" *ngIf="readMore && review.review.length > 575">(read less)</a>
                </div>
            </div>
            
            <div class="row">
                <app-comments class="mt-2" [bookAndReviewId]="{bookId: bookId, reviewId: review.id}"></app-comments>
            </div>
        </div>
    </div>
</div>