<div *ngIf="review" class="col user-info-review">
    <div class="row mb-4">
        <div class="col-lg-1 col-sm-2">
            <a routerLink="/users/{{ review.userId }}">
                <img src="../../assets/default_user.png" alt="user_profile_pic">
            </a>
        </div>
        <div class="col">
            <div class="user-description d-inline me-1">
                <span class="fw-bold">
                    <a routerLink="/users/{{ review.userId }}">{{ review.userName }}</a>
                </span> rated it
            </div>
            <span class="material-icons star-rate-fixed" [class.checked]="review.rating >= 1">star_rate</span>
            <span class="material-icons star-rate-fixed" [class.checked]="review.rating >= 2">star_rate</span>
            <span class="material-icons star-rate-fixed" [class.checked]="review.rating >= 3">star_rate</span>
            <span class="material-icons star-rate-fixed" [class.checked]="review.rating >= 4">star_rate</span>
            <span class="material-icons star-rate-fixed" [class.checked]="review.rating == 5">star_rate</span>

            <!-- <span class="material-icons float-end">more_horiz</span> -->
            <span class="text-muted float-end" *ngIf="userId == posterId">
                <!-- <a class="edit-delete-btn" (click)="onClickEdit()" data-bs-toggle="modal" data-bs-target="#editReviewModal">Edit</a>
                <span class="mx-2">|</span> -->
                <a class="edit-delete-btn" (click)="onDeleteReview()">Delete</a>
            </span>

            <div class="row">
                <div class="text-muted">
                    {{ convertDate(review.dateCreated) }}
                </div>
            </div>

            <div class="row mb-2">
                <div class="review-text serif mt-2">
                    {{ review.review.slice(0, 575) }}
                    <span class="review-text serif" *ngIf="readMore">{{ review.review.slice(575) }}</span>
                    <a class="review-text serif read-more ms-1" (click)="onClickReadMore()" *ngIf="!readMore && review.review.length > 575">...read more</a>
                    <a class="review-text serif read-more ms-1" (click)="onClickReadMore()" *ngIf="readMore && review.review.length > 575">(read less)</a>
                </div>
            </div>

            <div class="row">
                <app-comments class="mt-2" [bookAndReviewId]="{bookId: bookId, reviewId: review.id}"></app-comments>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="editReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancelEdit()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reviewForm">
                    <div class="mb-3">
                        <label for="rating" class="form-label me-1 d-inline">Rating</label>
                        <span class="material-icons star-rate" [class.checked]="ratingValue >= 1" (click)="updateReview(1)">star_rate</span>
                        <span class="material-icons star-rate" [class.checked]="ratingValue >= 2" (click)="updateReview(2)">star_rate</span>
                        <span class="material-icons star-rate" [class.checked]="ratingValue >= 3" (click)="updateReview(3)">star_rate</span>
                        <span class="material-icons star-rate" [class.checked]="ratingValue >= 4" (click)="updateReview(4)">star_rate</span>
                        <span class="material-icons star-rate" [class.checked]="ratingValue == 5" (click)="updateReview(5)">star_rate</span>
                        <a class="clear ms-1 d-inline" (click)="onClearRating()">Clear</a>
                    </div>

                    <div class="mb-3">
                        <label for="review" class="form-label">Review</label>
                        <textarea class="form-control" id="review" rows="5" formControlName="review"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancelEdit()">Close</button>
                <button type="submit" class="btn btn-dark" [disabled]="!reviewForm.valid" (click)="onEditReview()" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>