a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.material-icons {
    vertical-align: middle;
    font-size: 1.2rem;
}

.nav-link {
    background-color: #f4f1ea;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.nav-link:hover {
    background-color: #f4f1ea;
    transform: scale(1.05);
    color: black;
}

.flair {
    border-radius: 20px;
    padding: 4px 12px;
    font-size: .7rem;
    /* background-color: #f4f1ea; */
    background-color: #f7ddb5;
    cursor: pointer;
    vertical-align: middle;
}

.all {
    background-color: #d8d8d8;
}

.general {
    background-color: #f7ddb5;
}

.discussion {
    background-color: #c9ecfa;
}

.recommendations {
    background-color: #b5f7bb;
}

.others {
    background-color: #f7b5b5;
}

.card-title {
    line-height: 26pt;
    font-size: 1.1rem;
}
