<div class="card" *ngIf="replies">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let reply of replies">
            <app-reply-detail [inputParams]="{topicId: topicId, reply: reply}"></app-reply-detail>
        </li>
        <li class="list-group-item" *ngIf="replies.length == 0">
            There are no replies for this topic.
        </li>
        <li class="list-group-item" *ngIf="userId != 0">
            <!-- <app-reply-add [topicId]="topicId"></app-reply-add> -->

            <form [formGroup]="replyForm">
                <textarea class="form-control reply-text py-2" id="newReply" rows="2" formControlName="content" placeholder="Write a reply..."></textarea>
                <button type="submit" class="btn btn-dark float-end mt-2" [disabled]="!replyForm.valid" (click)="onSubmit()">Submit</button>
            </form>
        </li>
    </ul>
</div>