<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <h4 class="fw-bold">Welcome back</h4>
                <div class="alert alert-danger align-items-center d-flex" role="alert" *ngIf="errorMessage">
                    <span class="material-icons me-2">
                        warning
                    </span>
                    {{ errorMessage }}
                </div>
                <form class="row g-3" [formGroup]="loginForm">
                    <div class="col-12">
                        <label for="usernameOrEmail" class="form-label">Username/Email address</label>
                        <input type="text" name="usernameOrEmail" class="form-control" placeholder="Enter username/email address" id="usernameOrEmail" formControlName="usernameOrEmail">
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password" id="password" formControlName="password">
                    </div>
                    <!-- <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe"> Remember me</label>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Don't have an account yet? <a class="signup" routerLink="/signup">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>