<h3 class="text-capitalize">{{ genreName.split('-').join(' ') }}</h3>

<div class="row">
    <div class="col" *ngIf="genreName == 'All'">
        <div class="mb-5" *ngFor="let genre of genres">
            <a class="text-uppercase fw-bold" routerLink="/books" [queryParams]="{ genre: genre.name }">{{ genre.name.split('-').join(' ') }}</a>
            <!-- <hr> -->
            <app-books-by-genre [genreName]="genre.name"></app-books-by-genre>
            <!-- <div class="row" style="background-color: red;">Test</div> -->
            <div class="row view-more float-end">
                <a routerLink="/books" [queryParams]="{ genre: genre.name }">View more</a>
            </div>
        </div>
    </div>

    <div class="col" *ngIf="genreName != 'All'">
        <!-- <app-books-by-genre [genreName]="genreName"></app-books-by-genre> -->
        <app-books-by-genre></app-books-by-genre>
    </div>
    
    <div class="col-sm-3">
        <span class="text-uppercase fw-bold">Browse</span>
        <hr>
        <div class="row">
            <div class="col mx-auto">
                <div *ngFor="let genre of genres.slice(0, genres.length / 2)">
                    <a class="text-capitalize genre-item" routerLink="/books" [queryParams]="{ genre: genre.name }" (click)="onGenreClick(genre.name)">{{ genre.name.split('-').join(' ') }}</a>

                </div>
            </div>
            <div class="col mx-auto">
                <div *ngFor="let genre of genres.slice(genres.length / 2)">
                    <a class="text-capitalize genre-item" routerLink="/books" [queryParams]="{ genre: genre.name }">{{ genre.name.split('-').join(' ') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
