<div class="container">
    <div class="row">
        <!-- <div class="col-md-4 offset-md-4"> -->
        <div class="col-md-6 offset-md-3">
            <div class="login-form bg-light mt-4 p-4">
                <form class="row g-3" [formGroup]="signupForm">
                    <h4 class="fw-bold">Create an account</h4>
                    <p class="fst-italic">* denote required fields</p>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label">First name</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter first name" id="firstname" formControlName="firstname">
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="form-label">Last name</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter last name" id="lastname" formControlName="lastname">
                    </div>
                    <div class="col-12">
                        <label for="username" class="form-label">Username *</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter username" id="username" formControlName="username">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email address *</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter email address" id="email" formControlName="email">
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label">Password *</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password" id="password" formControlName="password">
                    </div>
                    <div class="input-group mb-3 col-12">
                        <input type="file" class="form-control" id="imageUrl" formControlName="imageUrl">
                        <label for="imageUrl" class="input-group-text" >Upload</label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end" [disabled]="!signupForm.valid" (click)="onSubmit()">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>