.btn-outline-dark {
    color: #382110;
    border-color: #382110;
}

.btn-outline-dark:hover {
    color: white;
    background-color: #382110;
}

.btn-dark {
    background-color: #382110;
}

/* .btn-dark:hover {
    color: #382110;
    background-color: white;
} */

.material-icons {
    vertical-align: middle;
}

#rating_bar > span:before {
    content: "\2605";
    font-size: 1.1rem;
    color: #767676;
    cursor: pointer;
}

#rating_bar:hover > span:before, .checked {
    color: #fa604a;
}

#rating_bar > span:hover ~ span:before {
    color: #767676;
}

.star-rate {
    font-size: 1.1rem;
    color: #767676;
    cursor: pointer;
}

.star-rate:hover, .checked {
    color: #fa604a;
}

.clear {
    font-size: .8rem;
    color: #767676;
    cursor: pointer;
    text-decoration: none;
}

.clear:hover {
    text-decoration: underline;
}
