<div *ngIf="!displayNotFound" class="table-responsive">
    <table class="table table-borderless" *ngIf="userInfo">
        <tbody>
            <tr>
                <th class="profile-pic">
                    <img src="../../assets/default_user.png" alt="user_profile_pic" class="user-icon">
                </th>
                <td>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="serif username">{{ userInfo.userName }}</th>
                            </tr>
                            <tr>
                                <th>Joined in</th>
                                <td>{{ convertDate(userInfo.dateCreated) }}</td>
                            </tr>
                            <!-- <tr>
                                <th>About me</th>
                                <td>Empty</td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" [class.active]="displayReviews" (click)="onClickDisplayNav(true)">Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="!displayReviews" (click)="onClickDisplayNav(false)">Forum posts</a>
        </li>
    </ul>

    <app-reviews-by-user *ngIf="displayReviews"></app-reviews-by-user>

    <app-topics-by-user *ngIf="!displayReviews"></app-topics-by-user>
</div>

<app-not-found-resource *ngIf="displayNotFound" [resource]="'User'"></app-not-found-resource>