.list-group-item {
    background-color: #f3f3f3;
}

.material-icons {
    vertical-align: middle;
}

.account-circle {
    font-size: 2.75rem;
}

.reply-text {
    font-size: .9rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.read-more {
    color: #382110;
}

.read-more:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    img {
        width: 40px;
    }
}

.col-user {
    width: 65px;
}

.delete-btn {
    font-size: .8rem;
}

a:hover {
    text-decoration: underline;
}

.btn-dark {
    background-color: #382110;
}