<div class="row" *ngIf="reply">
    <div class="col-user">
        <a routerLink="/users/{{ reply.userId }}">
            <img src="../../assets/default_user.png" alt="user_profile_pic">
        </a>
    </div>
    <div class="col reply-text">
        <span class="fw-bold me-1">
            <a routerLink="/users/{{ reply.userId }}">{{ reply.userName }}</a>
        </span>
        <span class="text-muted">
            {{ convertDate(reply.dateCreated) }}
        </span>
        <div>
            {{ reply.content.slice(0, 300) }}
            <span *ngIf="readMore">{{ reply.content.slice(300) }}</span>
            <a class="read-more ms-1" (click)="onClickReadMore()" *ngIf="!readMore && reply.content.length > 300">...read more</a>
            <a class="read-more ms-1" (click)="onClickReadMore()" *ngIf="readMore && reply.content.length > 300">(read less)</a>
        </div>
    </div>
</div>