.genre-tag {
    border: solid 1px #D6D0C4;
    padding: 6px;
    font-size: .8rem;
    background-color: #f4f1ea;
    cursor: pointer;
}

.genre-tag:hover {
    background-color: #ede6d6;
}

.book-cover {
    /* position: sticky; */
    /* width: 15vw; */
    max-width: 100%;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.read-more {
    color: #382110;
}

.read-more:hover {
    text-decoration: underline;
}