<div class="row" *ngIf="comment">
    <div class="col-lg-1 col-sm-2">
        <img src="../../assets/default_user.png" alt="user_profile_pic">
    </div>
    <div class="col comment-text">
        <span class="fw-bold me-1">
            <a routerLink="/users/{{ comment.userId }}">{{ comment.userName }}</a>
        </span>
        <span class="text-muted">
            {{ convertDate(comment.dateCreated) }}
        </span>
        <div>
            {{ comment.comment.slice(0, 300) }}
            <span *ngIf="readMore">{{ comment.comment.slice(300) }}</span>
            <a class="read-more ms-1" (click)="onClickReadMore()" *ngIf="!readMore && comment.comment.length > 300">...read more</a>
            <a class="read-more ms-1" (click)="onClickReadMore()" *ngIf="readMore && comment.comment.length > 300">(read less)</a>
        </div>
    </div>
</div>