.view-comments {
    font-size: .9rem;
    color: #00635d;
    cursor: pointer;
}

.view-comments:hover {
    text-decoration: underline;
}

.list-group-item {
    background-color: #f3f3f3;
}

.material-icons {
    vertical-align: middle;
}

.account-circle {
    font-size: 2.75rem;
}

.comment-text {
    font-size: .9rem;
}