<nav class="navbar navbar-expand-lg navbar-light shadow-sm mb-5">
    <div class="container">
        <a class="navbar-brand" routerLink="/books">
            <img src="../../assets/goodreads_logo.svg" alt="" width="140" height="50" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Browse
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/books" [queryParams]="{ genre: 'adventure' }">Adventure</a></li>
                        <li><a class="dropdown-item" routerLink="/books" [queryParams]="{ genre: 'classics' }">Classics</a></li>
                        <li><a class="dropdown-item" routerLink="/books" [queryParams]="{ genre: 'fiction' }">Fiction</a></li>
                        <li><a class="dropdown-item" routerLink="/books" [queryParams]="{ genre: 'romance' }">Romance</a></li>
                        <li><a class="dropdown-item" routerLink="/books">All Genres</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/forums">Forums</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="/users/{{ userId }}">Profile</a>
                </li>
            </ul>

            <form class="d-flex ms-auto me-2" [formGroup]="searchForm">
                <input class="form-control me-2" type="search" placeholder="Search books" aria-label="Search" formControlName="searchParam" (keyup.enter)="onSubmit()">
                <button class="btn btn-outline-dark" type="button" [disabled]="!searchForm.valid" (click)="onSubmit()">
                    <span class="material-icons">search</span>
                </button>
            </form>
            
            <div class="d-flex" *ngIf="isLoggedIn">
                <a class="nav-link signupOrLogin" routerLink="/login" (click)="onLogout()">Logout</a>
            </div>

            <div class="d-flex" *ngIf="!isLoggedIn">
                <a class="nav-link signupOrLogin" routerLink="/signup">Sign Up</a>
                <a class="nav-link signupOrLogin" routerLink="/login">Login</a>
            </div>
        </div>
    </div>
</nav>
